body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 250ms ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  background: white;
  width: 350px;
  max-width: 85%;
  /* border: 2px solid rgb(1, 255, 200); */
  border-radius: 8px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border-bottom: 1px dotted black; */
  box-shadow: 0 0 5px 0 grey;
  padding: 10px 10px 15px 20px;
}

.centerHead {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 0 grey;
  padding: 10px 10px 15px 20px;
}

.header .title {
  margin-bottom: 0px;
}

.header .closeBtn {
  display: flex;
  font-size: 1.25rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  height: max-content;
  width: max-content;
  border: 1px dotted black;
  border-radius: 50%;
}

.popUpData {
  padding: 15px 20px;
}

.expandData {
  transition: 250ms ease-in-out;
  transform: translateY(-100%) scale(0);
  height: 0;
}

.expandData.active {
  transform: translateY(0) scale(1);
  padding: 15px 20px;
  height: fit-content;
}

.moreBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  height: max-content;
  width: max-content;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 250ms ease-in-out;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.openBtn {
  cursor: pointer;
}

.commonBtn {
  border-radius: 8px;
  font-size: 1.25rem;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: chartreuse;
}

.certificates {
  padding: 15px 20px !important;
}

.toolBar {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  background: #01ffc845;
  margin-bottom: 16px;
}

.toolBar h1 {
  padding: 0px 5px;
}

.templates {
  padding: 0px 15px;
}

.btnDesc {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}

.btnDesc p {
  font-family: cursive;
  display: flex;
  flex-flow: wrap;
}

.btnDesc p::before {
  content: "--->";
}

.btnDesc p a {
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  color: chartreuse;
  text-decoration: underline;
}

.profile {
  border-radius: 50%;
  border: 1px dotted chartreuse;
  height: 125px;
  width: 125px;
  background: url(./assets/thafzil.jpg);
  background-size: cover;
  cursor: pointer;
}

.smalltxt {
  font-family: cursive;
  font-size: small;
}

.copyRight {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  background: #01ffc845;
  box-shadow: 2px 0 0 0 black;
}

#modalId3 table {
  border: 2px dotted chartreuse;
}

#modalId3 table td {
  border: 1px solid black;
}
